.title {
  font-family: 'PTSans';
  font-size: 56px;
  font-weight: 700;
  color: var(--text-color);
  width: 353px;
  height: 134px;
  line-height: 67.2px;

  @media screen and (max-width: 1024px) {
    & {
      width: 123px;
      height: 48px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
