.container {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 88px;
  gap: 20px;
  
  @media screen and (max-width: 1024px) {
    & {
      position: absolute;
      height: fit-content;
      bottom: 0;
      gap: 10px;
    }
  }
}

.counter {
  font-family: "PTSans";
  font-size: 14px;
  color: var(--text-color);
}

.buttonsBlock {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    & {
      gap: 8px;
    }
  }
}
